<div class="dark-heresy chat roll">
    <div class="background border">
        <h1>{{name}} ({{target}})</h1>
        {{#if isSuccess}}
        <h3><span style="color: var(--color-success)">{{localize "CHAT.SUCCESS"}}</span> ({{result}})</h3>
        {{else}}
        <h3><span style="color: var(--color-failure)">{{localize "CHAT.FAILURE"}}</span> ({{result}})</h3>
        {{/if}}

        {{#if isSuccess}}
        <p><strong>{{localize "CHAT.DOS"}}:</strong> {{dos}}</p>
        {{else}}
        <p><strong>{{localize "CHAT.DOF"}}:</strong> {{dof}}</p>
        {{/if}}
        {{#if hasDamage}}
        {{#if psy}}
        <p><strong>{{localize "CHAT.PSY_RATING"}}:</strong> {{psy}}</p>
        {{/if}}
        <p><strong>{{localize "CHAT.PART"}}:</strong> {{localize location}}</p>
        <p><strong>{{localize "CHAT.DAMAGE"}}:</strong> {{damage}} {{damageType damageType}}</p>
        {{#if righteousFury}}
        <p><strong>{{localize "CHAT.RIGHTEOUS_FURY"}}:</strong> {{righteousFury}}</p>
        {{/if}}
        <p><strong>{{localize "CHAT.PENETRATION"}}:</strong> {{penetration}}</p>
        {{/if}}
    </div>
</div>